
#rooms-page, #game-page{
    padding: 30px;
}

#add-room-btn, #quit-room-btn, #ready-btn{
    display: block;
    padding: 20px 50px;
    margin-top: 20px;
    background-color: var(--main-button-background-color);
    border: 1px solid var(--main-button-border-color);

}

#add-room-btn:hover{
    background-color: #aaa;
}

#rooms-container {
    width: 100%;
    margin-top: 40px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
  }
  
  #rooms-container .room-item {
      width: 200px;
      height: 200px;
    padding: 10px 20px;
    background-color: var(--white);
    border: 1px solid var(--main-button-border-color);
    color: var(--main-font-color);
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #rooms-container .room-item .room-name{
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
  }

  #rooms-container .room-item .user-info{
      font-size: 12px;
      margin-bottom: 20px;
  }

  #rooms-container .room-item .join-button{
    display: block;
    padding: 5px 30px;
    background-color: var(--main-button-background-color);
    border: 1px solid var(--main-button-border-color);
  }

  #main-container{
      display: flex;
      margin-top: 40px;
  }

  #users-container{
      display: flex;
      flex-direction: column;
  }

  .user-item{
      width: 220px;
      margin: 0px 20px 20px 0px;
  }

  .user-info {
      display: flex;
      align-items: center;
  }


  .ready-status {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
  }

  .ready-status-red {
      background-color: red;
  }

  .ready-status-green {
    background-color: green;
}


.highlight {
    background-color: chartreuse;
}

.underline{
    text-decoration: underline;
}